{{ 'contact-form.css' | asset_url | stylesheet_tag }}
<div class="hb_contact_form_section">
  <div class="hb_main_container">
    <div class="hb_wrapper">
      <div class="hb_form_line">
        <input
          type="text"
          placeholder="First Name"
          class="hb_form_input--style" />
        <input
          type="text"
          placeholder="Last Name"
          class="hb_form_input--style" />
      </div>
      <div class="hb_form_line hb_form_mobile">
        <input
          type="text"
          placeholder="Email Id"
          class="hb_form_input--style hb_form_input_mobile" />
        <input
          type="text"
          placeholder="Phone Number"
          class="hb_form_input--style hb_form_input_mobile" />
      </div>
      <div class="hb_form_line">
        <textarea
          type="text"
          placeholder="Your Message"
          class="hb_form_input--style hb_form--message"></textarea>
      </div>
    </div>
    <div class="hb_btn hb_contact_form_btn">
      <button class="hb_btn_style hb_btn_style__contact_page">Send</button>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "contact form",
    "settings": [],
    "presets": [
      {
        "name": "contact form"
      }
    ]
  }
{% endschema %}