{{ 'doctors-appointment.css' | asset_url | stylesheet_tag }}
<div class="hb_doctors_appointment">
  <div class="hb_main_container">
    <div class="hb_wrapper">
      <p class="hb_doctors_appointment--p">
        {{ section.settings.description }}
      </p>
      <button class="hb_doctors_appointment--btn">
        <p>{{ section.settings.btn_text }}</p>
        <p class="hb_doctors_appt_btn_call">
          <svg
            width="21"
            height="20"
            viewBox="0 0 21 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="hb_doctors_appt_call--svg">
            <path d="M12.403 0C10.2041 0 8.19582 0.79742 6.67383 2.10656C7.01141 2.62225 7.20318 3.22224 7.22124 3.84155L7.22129 3.84336L7.22135 3.84516C7.22904 4.12422 7.24636 4.40335 7.27127 4.68206C8.42565 3.15815 10.2954 2.16495 12.403 2.16495C15.9013 2.16495 18.7474 4.89913 18.7474 8.25993C18.7474 11.5853 15.9607 14.2954 12.513 14.3522C12.8278 14.605 13.1529 14.8458 13.4878 15.072L13.4893 15.0731L13.4908 15.0741C13.9468 15.3831 14.3182 15.7882 14.5787 16.2516C18.2695 15.3235 21.0008 12.0925 21.0008 8.25993C21.0009 3.70538 17.1439 0 12.403 0Z" fill="#0E4080" />
            <path d="M12.1884 16.8434C11.2062 16.0901 10.5934 15.5885 9.71638 14.808C9.45835 14.5784 9.143 14.4354 8.81918 14.4354C8.57136 14.4354 8.3266 14.5112 8.12513 14.67C7.9172 14.8382 7.70927 15.0064 7.50128 15.1744C5.8112 13.2449 4.5562 10.9965 3.81846 8.57632C4.07928 8.50302 4.34016 8.42962 4.60097 8.35627C5.17578 8.18719 5.4462 7.59767 5.36185 7.00673C5.17833 5.72045 5.07865 5.08145 4.96507 3.90235C4.90685 3.29797 4.48815 2.77297 3.88803 2.74158C3.79443 2.73285 3.7009 2.72852 3.60813 2.72852C1.37637 2.72852 -0.56679 5.21358 0.152016 8.25376C1.04645 12.0187 2.98277 15.4878 5.75214 18.2869C6.88657 19.4311 8.27634 19.9493 9.53151 19.9493C10.8556 19.9493 12.03 19.3731 12.5988 18.3476C12.9037 17.85 12.6823 17.2221 12.1884 16.8434Z" fill="#0E4080" />
            <path d="M9.81572 8.41334C9.2214 8.94312 8.8325 9.35967 8.62713 9.68654C8.48216 9.91714 8.37641 10.1609 8.31262 10.4111C8.28264 10.5289 8.31022 10.6511 8.38828 10.7466C8.46623 10.8419 8.58329 10.8966 8.70948 10.8966H11.5458C11.8933 10.8966 12.176 10.625 12.176 10.2911C12.176 9.95734 11.8933 9.6857 11.5458 9.6857H10.265C10.2754 9.67387 10.2861 9.662 10.2971 9.65012C10.3808 9.55959 10.5857 9.37055 10.9061 9.08829C11.2421 8.79206 11.4689 8.57023 11.5996 8.41008C11.7965 8.16938 11.943 7.93431 12.0348 7.71164C12.1285 7.48466 12.176 7.2427 12.176 6.99234C12.176 6.54321 12.0067 6.16196 11.6728 5.859C11.3411 5.55852 10.8845 5.40625 10.3153 5.40625C9.79823 5.40625 9.35902 5.53629 9.01001 5.79275C8.79946 5.94764 8.63733 6.16217 8.52813 6.43061C8.45436 6.61199 8.47341 6.81942 8.57922 6.98551C8.68497 7.15164 8.86855 7.2624 9.07024 7.28174C9.0927 7.28389 9.11509 7.285 9.13721 7.285C9.42108 7.285 9.6742 7.11155 9.76719 6.85352C9.79633 6.77261 9.83489 6.70829 9.88191 6.66227C9.98092 6.56538 10.1142 6.51814 10.2896 6.51814C10.4679 6.51814 10.6011 6.56275 10.6966 6.65449C10.792 6.74607 10.8383 6.87963 10.8383 7.06295C10.8383 7.23319 10.775 7.41068 10.6501 7.59074C10.5832 7.685 10.3832 7.90547 9.81572 8.41334Z" fill="#0E4080" />
            <path d="M15.4943 5.40527H15.0205C14.8855 5.40527 14.7595 5.46922 14.6833 5.5763L12.4923 8.65757C12.4284 8.74753 12.3945 8.85266 12.3945 8.96153V9.46084C12.3945 9.67715 12.5778 9.85317 12.8029 9.85317H14.6016V10.2708C14.6016 10.6153 14.8934 10.8957 15.2521 10.8957C15.6108 10.8957 15.9026 10.6153 15.9026 10.2708V9.85317H15.9676C16.3009 9.85317 16.5721 9.59261 16.5721 9.27242C16.5721 8.95223 16.3009 8.69173 15.9676 8.69173H15.9026V5.79755C15.9026 5.58129 15.7194 5.40527 15.4943 5.40527ZM14.6017 8.69173H13.7943L14.6017 7.53869V8.69173Z" fill="#0E4080" />
          </svg>
          <span class="hb_doctors_appointment--number">Call Us
            <span class="hb_doctors--tel">
              {{ section.settings.btn_contact }}</span>
          </span>
        </p>
      </button>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "doctors appointment",
    "settings": [
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }, {
        "type": "text",
        "id": "btn_text",
        "label": "Button Text"
      }, {
        "type": "text",
        "id": "btn_contact",
        "label": "Contact Number"
      }
    ],
    "presets": [
      {
        "name": "doctors appointment"
      }
    ]
  }
{% endschema %}