{{ 'index-slider.css' | asset_url | stylesheet_tag }}

<div class="hb_specialities">
  <div class="hb_main_container">

    <div class="hb_wrapper">
      <div #swiperRef="" class="swiper hb_swiper_specialities">
        <div class="swiper-wrapper">
          {% for block in section.blocks %}
            <div class="swiper-slide">
              <div class="hb_specialities--item">
                <img src="{{ block.settings.slide_img |  image_url: width: '800x'  }}" alt="" />
                <h2 class="hb_specialities--title">{{ block.settings.title }}</h2>
                <p class="hb_specialities--p">
                  {{ block.settings.description }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "index slider",
    "settings": [],
    "blocks": [
      {
        "type": "block",
        "name": "Slide",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Enter Slide Title"
          }, {
            "type": "text",
            "id": "description",
            "label": "Enter Slide Description"
          }, {
            "type": "image_picker",
            "id": "slide_img",
            "label": "Select Side Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "index slider"
      }
    ]
  }
{% endschema %}