@font-face {
  font-family: "PT Serif";
  src: url("PTSerif-Bold.woff2") format("woff2"),
    url("PTSerif-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("./fonts-pt-serif/PTSerif-Italic.woff2") format("woff2"),
    url("./fonts-pt-serif/PTSerif-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("./fonts-pt-serif/PTSerif-BoldItalic.woff2") format("woff2"),
    url("./fonts-pt-serif/PTSerif-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "PT Serif";
  src: url("./fonts-pt-serif/PTSerif-Regular.woff2") format("woff2"),
    url("./fonts-pt-serif/PTSerif-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
