.hb_wrapper {
  display: flex;
}
/* section code start from here */
.hb_hero_section {
  position: relative;
}

.hb_hero_section_overly {
  position: absolute;
  top: 28.8%;
  width: 35%;
}

.hb_hero_overly_title {
  font-family: PT Serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  text-align: left;
  color: white;
}

.hb_hero_overly_p {
  font-family: Sofia Pro;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  padding-top: 16px;
  color: white;
}
